const char* WIFI_SSID            = "ssid";
const char* WIFI_PASSWORD        = "password";

const int REQUEST_TIMEOUT        = 5 * 1000;           // 5 seconds
const int WAIT_TIME              = 6 * 60 * 60 * 1000; // 6 hours

const int MAX_TRIES              = 10;

const char* CHECK_HOST1          = "fr.mappy.com";
const char* CHECK_URL1           = "/";
const char* CHECK_HOST2          = "www.google.com";
const char* CHECK_URL2           = "/";

const char* MONITOR_HOST         = "host.com";
const char* MONITOR_URL_UP       = "/web/up";
const char* MONITOR_URL_DOWN     = "/web/down";

